* {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
}
/* Không chỉnh sửa bất kì đoạn code nào ở trên */
/* Code từ đây */

body {

}

body > .reg-form {
}

.reg-form {

    
}

.heading {
    text-align: center;
    
}

.heading, .main {
    margin: 30px 30px 0 30px;
}



label {
    font-weight: 600;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0
}

#input__name , #input__email, #input__password, #input__password-again, #province {

}

#input__name:hover , #input__email:hover, #input__password:hover, #input__password-again:hover, #province:hover {
    border-color: #1dbfaf;
}

#input__name:focus , #input__email:focus, #input__password:focus, #input__password-again:focus,  #province:focus {
    outline-color: #1dbfaf;
}

.form-submit {

}

.form-submit:hover {
    background-color: #1ac7b6;
}
 .invalid > #input__name {
    border-color: red;
}
.invalid > #input__password {
    border-color: red;
}
.invalid > #input__email {
    border-color: red;
}
.invalid > #input__password-again {
    border-color: red;
}
.invalid > #province {
    border-color: red;
}

.invalid > .form-message {
    color: red;
}

input[name="gender"]:checked {

}

